@page

<h1>About</h1>
<p>This basic CRUD web application was built in Visual Studio 2022 with</p>
<p><a href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-6.0">ASP.NET Core 6.0</a>.</p>
