@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To David's Library CRUD Web Application</p>
    <p>Built in Visual Studio 2022 with</p>
    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-6.0">ASP.NET Core 6.0</a>.</p>
</div>
